<div id="logoArea" class="navbar">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyShopping</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Account <span class="sr-only">(current)</span></a></li>
         <li><a href="#"> Wishlist</a></li>
         <li><a href="#"> Cart</a></li>
         <li><a href="#"> Login</a></li>



 
 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
        <% #= link_to "Back", items_path, :class =>"btn btn-large btn-info pull-right" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
   

</div>




<div id="main-container" class="container">
  <div>

  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag(items_path, :method => "get", class: "navbar-form navbar-left", id: "search-form", role:"search") do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Name" %>
      <%= text_field_tag :description, params[:description], class: "form-control", placeholder: "Description" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
       <button class="btn btn-primary btn-md btn-md" type="submit">Search<!-- <i class="icon-search"> --></i></button>
    </div>
  <% end %>
  <%= yield %>
</div>
 <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
             
</div>
<%= link_to "Add A New Item", new_category_path, :class =>"btn btn-md btn-md btn-success " %>


  <h1> Category List </h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Parent Category</th>
<!--       <th>Price</th> -->
      <!-- <th>Description</th> -->
      <!-- <th>State</th> -->
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @category.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.parent_category_id %></td>

      <td><%= link_to 'Show', category_path(category) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>



  </table>

</div>


